<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- Meta SEO -->
		<title>Template HTML</title>
		<meta name="description" content="Template HTML RIP dari PSD.">
		<meta name="keywords" content="HTML, CSS, XML, JavaScript, SEO">
		<meta name="author" content="WYOYW Creatives">
		
		<!-- Favicon -->
		<link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" href="assets/images/favicon/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="assets/images/favicon/favicon-16x16.png" sizes="16x16">
		<link rel="manifest" href="assets/images/favicon/manifest.json">
		<link rel="mask-icon" href="assets/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="theme-color" content="#ffffff">
		
		<!-- Open Graph -->
		<meta property="fb:app_id" content="1234567890" />
		<meta property="og:locale" content="id_ID" />
		<meta property="og:title" content="Template HTML" />
		<meta property="og:url" content="http://www.wyoyw.com" />
		<meta property="og:type" content="website" />
		<meta property="og:description" content="Template HTML RIP dari PSD." />
		<meta property="og:image" content="assets/images/wyoyw.png" />
		
		<!-- Twitter Card -->
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:title" content="Template HTML" />
		<meta name="twitter:description" content="Template HTML RIP dari PSD." />
		<meta name="twitter:url" content="http://www.wyoyw.com" />
		<meta name="twitter:image" content="assets/images/wyoyw.png" />

		<!-- Bootstrap -->
		<link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		
		<!-- Ikon Sosial Media -->
		<link href="assets/plugins/socicon/socicon.css" rel="stylesheet">
		
		<!-- Ionicons -->
		<link href="assets/plugins/ionicons/css/ionicons.min.css" rel="stylesheet">
		
		<!-- Font Awesome -->
		<link href="assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
		
		<!-- Webfonts -->
		<link href="assets/css/webfont/font.css" rel="stylesheet">
		
		<!-- Slider -->
		<link href="assets/plugins/bxslider/jquery.bxslider.css" rel="stylesheet">
		
		<!-- Scroller -->
		<link href="assets/plugins/scroller/css/jquery.mCustomScrollbar.min.css" rel="stylesheet">
		
		<!-- iCHeck -->
		<link href="assets/plugins/icheck/skins/minimal/orange.css" rel="stylesheet">
		
		<!-- Range -->
		<link href="assets/plugins/range/css/ion.rangeSlider.css" rel="stylesheet">
		<link href="assets/plugins/range/css/ion.rangeSlider.skinNice.css" rel="stylesheet">
		
		<!-- Select -->
		<link href="assets/plugins/select/css/bootstrap-select.min.css" rel="stylesheet">
		
		<!-- Style site -->
		<link href="assets/css/style.css" rel="stylesheet">

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="assets/js/html5shiv.min.js"></script>
		<script src="assets/js/respond.min.js"></script>
		<![endif]-->
	</head>
	
	<body>
		<header class="section-header">
			<nav class="navbar navbar-default navbar-static-top no-margin-bottom">
				<div class="navbar-top">
					<div class="container">
						<div class="row">
							<div class="col-xs-5 col-md-4 no-padding-right">
								<div class="navbar-menu">
									<ul class="nav navbar-nav">
										<li class="dropdown">
											<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hubungi <span class="hidden-xs">kami</span> <span class="caret"></span></a>
											<ul class="dropdown-menu">
												<li><a href="#">Action</a></li>
												<li><a href="#">Another action</a></li>
												<li><a href="#">Something else here</a></li>
												<li role="separator" class="divider"></li>
												<li><a href="#">Separated link</a></li>
												<li role="separator" class="divider"></li>
												<li><a href="#">One more separated link</a></li>
											</ul>
										</li>
										
										<li><a href="#">Cara <span class="hidden-xs">belanja</span></a></li>
									</ul>
								</div> <!-- /.navbar menu -->
							</div>    
									
							<div class="col-xs-7 col-md-4 col-md-push-4 no-padding-left">
								<div class="navbar-menu text-right">
									<ul class="nav navbar-nav navbar-right">
										<li><a href="#">Masuk</a></li>
										<li><a href="#">Daftar</a></li>
										
										<li class="dropdown">
											<a href="#" class="dropdown-toggle navbar-cart" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="icon ion-android-cart"></i><span class="hidden-xs"> Belanjaan saya </span><span class="label label-default">0</span></a>
										</li>
									</ul>
								</div> <!-- /.navbar menu -->
							</div>
									
							<div class="col-xs-12 col-md-4 col-md-pull-4">
								<div class="navbar-search">
									<form action="">
										<div class="form-group no-margin-bottom">
											<input type="search" class="form-control text-center" placeholder="Cari di SilahQan..." />
										</div> <!-- /.form group -->
									</form>
								</div> <!-- /.search -->
							</div>
						</div> <!-- /.row -->
					</div> <!-- /.container -->
				</div> <!-- /.navbar top -->
				
				<div class="navbar-header">
					<div class="container">
						<div class="row">
							<div class="col-xs-12 col-md-4 col-md-push-4">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
								
								<a class="navbar-brand" href="#">
									<img class="img-responsive" src="assets/images/top-logo.png" alt="Logo" />
								</a> <!-- /.logo -->
							</div> <!-- /.col-md-4 -->
								
							<div class="col-xs-12 col-sm-6 col-md-4 col-md-pull-4">
								<div class="navbar-intro">
									<div class="col-xs-3 col-sm-3">
										<div class="text-center">
											<div class="navbar-intro-icon">
												<img class="img-responsive" src="assets/images/bagian-atas/icon-menu-4.png" alt="Alt" />
											</div> <!-- /.icon -->
											
											<div class="navbar-intro-text">
												Sahabat Produk Lokal
											</div> <!-- /.text -->
										</div> <!-- /.navbar intro -->
									</div> <!-- /.col-xs-3 -->
									
									<div class="col-xs-3 col-sm-3">
										<div class="text-center">
											<div class="navbar-intro-icon">
												<img class="img-responsive" src="assets/images/bagian-atas/icon-menu-3.png" alt="Alt" />
											</div> <!-- /.icon -->
											
											<div class="navbar-intro-text">
												Harga Grosir
											</div> <!-- /.text -->
										</div> <!-- /.navbar intro -->
									</div> <!-- /.col-xs-3 -->
									
									<div class="col-xs-3 col-sm-3">
										<div class="text-center">
											<div class="navbar-intro-icon">
												<img class="img-responsive" src="assets/images/bagian-atas/icon-menu-2.png" alt="Alt" />
											</div> <!-- /.icon -->
											
											<div class="navbar-intro-text">
												Transaksi Aman
											</div> <!-- /.text -->
										</div> <!-- /.navbar intro -->
									</div> <!-- /.col-xs-3 -->
									
									<div class="col-xs-3 col-sm-3">
										<div class="text-center">
											<div class="navbar-intro-icon">
												<img class="img-responsive" src="assets/images/bagian-atas/icon-menu-1.png" alt="Alt" />
											</div> <!-- /.icon -->
											
											<div class="navbar-intro-text">
												Pemberitahuan Mobile
											</div> <!-- /.text -->
										</div> <!-- /.navbar intro -->
									</div> <!-- /.col-xs-3 -->
								</div> <!-- /.row -->
							</div> <!-- /.col-md-4 -->
								
							<div class="col-xs-12 col-sm-6 col-md-4">
								<a href="#" class="navbar-promo text-right">
									<img class="img-responsive" src="assets/images/bagian-atas/gambar-top-bunga.png" alt="Alt" />
								</a> <!-- /.navbar promo -->
							</div> <!-- /.col-md-4 -->
						</div> <!-- /.row -->
					</div> <!-- /.container -->
				</div> <!-- /.navbar header -->
				
				<div class="navbar-navigation collapse navbar-collapse text-uppercase" id="bs-example-navbar-collapse-1">
					<div class="container">
						<ul class="nav navbar-nav">
							<li class="active"><a href="#">Produk baru</a></li>
							<li><a href="#">Kosmetik</a></li>
							<li><a href="#">Perawatan kulit</a></li>
							<li><a href="#">Perawatan rambut</a></li>
							<li><a href="#">Kesehatan</a></li>
							<li><a href="#">Aksesoris</a></li>
							<li><a href="#">Bayi</a></li>
							<li><a href="#">Pria</a></li>
							<li><a href="#">Merk</a></li>
							<li><a href="#">Promo</a></li>
						</ul>
					</div> <!-- /.container -->
				</div> <!-- /.navbar navigation -->
			</nav> <!-- /.nav -->
		</header> <!-- /.header -->
		
		<section class="section-breadcrumb">
			<div class="container">
				<ol class="breadcrumb">
					<li><a href="#">Home</a></li>
					<li><a href="#">Library</a></li>
					<li class="active">Data</li>
				</ol>
			</div> <!-- /.container -->
		</section> <!-- /.breadcrumb -->
		
		<main class="section-main">
			<section class="section-detail">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-8">
							<div class="section-detail-left">
								<div class="section-detail-slider position-relative">
									<div class="featured text-center">
										<div class="inner">
											<span class="block">Pilihan</span>
											<span class="block">Editor</span>
										</div>
									</div> <!-- /.featured label -->
									
									<div class="section-detail-slider-action">
										<div class="section-detail-slider-item">
											<img class="img-responsive" src="assets/images/bagian-produk-recomended/recomended-produk-1.png" alt="Image" />
										</div> <!-- /.item -->
										
										<div class="section-detail-slider-item">
											<img class="img-responsive" src="assets/images/bagian-produk-baru/produk-baru-3.png" alt="Image" />
										</div> <!-- /.item -->
									</div> <!-- /.slider action -->
								</div> <!-- /.slider -->
								
								<div class="section-detail-description">
									<div class="navtab">
										<!-- Nav tabs -->
										<ul class="nav nav-tabs text-uppercase" role="tablist">
											<li role="presentation" class="active"><a href="#description" role="tab" data-toggle="tab">Deskripsi</a></li>
											
											<li role="presentation"><a href="#review" role="tab" data-toggle="tab">Review</a></li>
											
											<li role="presentation"><a href="#order" role="tab" data-toggle="tab">Kapan Pesananmu Sampai?</a></li>
										</ul>
										
										<div class="tab-content">
											<div role="tabpanel" class="tab-pane active" id="description">
												<div class="section-description-content">
													<h4 class="section-description-title text-uppercase">
														Lorem Ipsum
													</h4>
													
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus a pharetra odio. Quisque scelerisque turpis sit amet massa sodales fringilla. Nunc in pulvinar purus. Vivamus justo nisl, consequat quis finibus et, dapibus gravida sem. Maecenas mattis cursus neque. Morbi venenatis libero sit amet quam consectetur, tempor scelerisque velit euismod. Pellentesque sit amet odio vehicula ante suscipit dapibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a ultrices enim. Aliquam scelerisque vestibulum purus luctus pellentesque. Aliquam pellentesque nibh sit amet sapien congue ornare. Cras porttitor congue hendrerit. Nulla facilisi. Nam blandit consequat dolor et placerat. Nunc et neque sit amet lectus laoreet euismod. Vestibulum congue augue sit amet purus dignissim, malesuada finibus est bibendum.</p>
													
													<p>Mauris imperdiet sit amet nibh non laoreet. Aenean tristique erat et libero dignissim, ac malesuada nulla congue. Integer sit amet sapien viverra quam blandit euismod. Duis pharetra ligula nec neque efficitur iaculis. Fusce vel tincidunt felis, in tincidunt justo. Nullam in lectus in purus iaculis egestas a ut magna. Curabitur rutrum turpis non nisl malesuada, eu ornare lacus rutrum. Nulla imperdiet, augue sed convallis lobortis, erat nulla vestibulum velit, id iaculis mi odio ac nisl. Vivamus a aliquam elit, quis vehicula tortor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
												</div> <!-- /.content -->
											</div> <!-- /.tab description -->
											
											<div role="tabpanel" class="tab-pane" id="review">
											</div> <!-- /.tab review -->
											
											<div role="tabpanel" class="tab-pane" id="order">
											</div> <!-- /.tab order -->
										</div> <!-- /.tab content -->
									</div> <!-- /.navtab -->
								</div> <!-- /.description -->
							</div> <!-- /.detail left -->
						</div> <!-- /.col-sm-8 -->
						
						<div class="col-xs-12 col-sm-12 col-md-4">
							<div class="section-detail-meta">
								<div class="section-detail-timer">
									<div class="section-detail-timer-title">
										Waktu Tersisa
									</div>
									
									<div class="row row-small">
										<div class="col-xs-3">
											<div class="section-detail-timer-content text-center">
												<div class="section-detail-timer-nom">
													<div>0</div>
													<div>0</div>
												</div> <!-- /.nom -->
												
												<div class="section-detail-timer-label text-uppercase">
													Hari
												</div> <!-- /.label -->
											</div> <!-- /.content -->
										</div> <!-- /.col-xs-3 -->
										
										<div class="col-xs-3">
											<div class="section-detail-timer-content text-center">
												<div class="section-detail-timer-nom">
													<div>1</div>
													<div>2</div>
												</div> <!-- /.nom -->
												
												<div class="section-detail-timer-label text-uppercase">
													Jam
												</div> <!-- /.label -->
											</div> <!-- /.content -->
										</div> <!-- /.col-xs-3 -->
										
										<div class="col-xs-3">
											<div class="section-detail-timer-content text-center">
												<div class="section-detail-timer-nom">
													<div>3</div>
													<div>4</div>
												</div> <!-- /.nom -->
												
												<div class="section-detail-timer-label text-uppercase">
													Menit
												</div> <!-- /.label -->
											</div> <!-- /.content -->
										</div> <!-- /.col-xs-3 -->
										
										<div class="col-xs-3">
											<div class="section-detail-timer-content text-center">
												<div class="section-detail-timer-nom">
													<div>5</div>
													<div>6</div>
												</div> <!-- /.nom -->
												
												<div class="section-detail-timer-label text-uppercase">
													Detik
												</div> <!-- /.label -->
											</div> <!-- /.content -->
										</div> <!-- /.col-xs-3 -->
									</div> <!-- /.row -->
									
									<div class="section-detail-timer-left">
										Ayo buruan, sisa <b class="text-orange">9 item</b> lagi loh!
									</div>
								</div> <!-- /.timer -->
		
								<div class="section-detail-meta-category text-orange">
									Bruss Egg
								</div> <!-- /.category -->
								
								<h1 class="section-detail-meta-name text-uppercase">
									Cream Pot Mushroom Jar 30Gr
								</h1> <!-- /.name -->
								
								<div class="rating">
									<i class="ion-android-star"></i>
									<i class="ion-android-star"></i>
									<i class="ion-android-star-outline"></i>
									<i class="ion-android-star-outline"></i>
									<i class="ion-android-star-outline"></i>
									
									<span class="count">33</span>
								</div> <!-- /.rating -->
								
								<div class="price">
									<div class="discount">
										10%
									</div> <!-- /.discount -->
									
									<div class="nominal">
										<div class="nominal-discount">
											Rp 4.500.00
										</div>
										
										<div class="nominal-normal">
											Rp 4.050
										</div>
									</div> <!-- /.nominal -->
								</div> <!-- /.price -->
								
								<div class="section-meta-pcs">
									<ul>
										<li>
											<span>6 pcs</span>
											<span>Rp 4.000/pc</span>
										</li>
										
										<li>
											<span>12 pcs</span>
											<span>Rp 3.900/pc</span>
										</li>
										
										<li class="section-meta-stock">
											<span>Stok</span>
											<span class="text-success"><b>Tersedia</b></span>
										</li>
									</ul>
								</div> <!-- /.pcs -->
								
								<div class="section-meta-variant">
									<select class="selectpicker btn-block" title="Pilih Varian">
										<option>Mustard</option>
										<option>Ketchup</option>
										<option>Relish</option>
									</select>
								</div> <!-- /.variant -->
								
								<div class="section-meta-addcart">
									<div class="add-favorite">
										<a href="#favorite">
											<i class="icon ion-ios-heart-outline"></i>
										</a>
										
										<div class="clearfix"></div>
										
										<span>Share</span>
									</div>
									
									<div class="section-meta-addcart-content">
										<div class="list-inline spinner position-relative">
											<li>
												<button type="button" class="btn btn-default no-border no-shadow btn-number" disabled="disabled" data-type="minus" data-field="quant[1]">
													<i class="icon ion-minus-round"></i>
												</button>
											</li>
											
											<li><input type="text" name="quant[1]" class="form-control text-center no-border no-shadow position-relative input-number" value="1" min="1" max="9999999999999999999"></li>
											
											<li>
												<button type="button" class="btn btn-default no-border no-shadow btn-number" data-type="plus" data-field="quant[1]">
													<i class="icon ion-plus-round"></i>
												</button>
											</li>
										</div> <!-- /.amount -->
										
										<a href="#addcart" class="btn btn-block btn-orange text-uppercase">
											Masukkan Ke Keranjang
										</a>
										
										<ul class="list-inline section-meta-social">
											<li><a href="#"><i class="socicon socicon-facebook"></i></a></li>
											<li><a href="#"><i class="socicon socicon-twitter"></i></a></li>
											<li><a href="#"><i class="socicon socicon-instagram"></i></a></li>
											<li><a href="#"><i class="socicon socicon-googleplus"></i></a></li>
											<li><a href="#"><i class="socicon socicon-pinterest"></i></a></li>
										</ul> <!-- /.social -->
									</div> <!-- /.content -->
								</div> <!-- /.addcart -->
							</div> <!-- /.meta -->
							
							<div class="section-detail-similar">
								<h3 class="section-detail-similar-label text-uppercase">
									Produk Terkait
								</h3>
								
								<div class="section-product-list">
									<a href="#" class="product-item">
										<div class="featured text-center">
											<div class="inner">
												<span class="block">Pilihan</span>
												<span class="block">Editor</span>
											</div>
										</div> <!-- /.featured label -->
										
										<div class="images">
											<img src="assets/images/bagian-produk-recomended/recomended-produk-1.png" alt="Alt" />
										</div> <!-- /.images -->
										
										<div class="meta">
											<div class="category">
												Cream Pot
											</div> <!-- /.category -->
											
											<h2 class="name">
												Cream Pot Musron Jar 30GR
											</h2> <!-- /.name -->
											
											<div class="rating">
												<i class="ion-android-star"></i>
												<i class="ion-android-star"></i>
												<i class="ion-android-star-outline"></i>
												<i class="ion-android-star-outline"></i>
												<i class="ion-android-star-outline"></i>
												
												<span class="count">33</span>
											</div> <!-- /.rating -->
											
											<div class="price">
												<div class="discount">
													10%
												</div> <!-- /.discount -->
												
												<div class="nominal">
													<div class="nominal-discount">
														Rp 4.500.00
													</div>
													
													<div class="nominal-normal">
														Rp 4.050
													</div>
												</div> <!-- /.nominal -->
											</div> <!-- /.price -->
										</div> <!-- /.meta -->
									</a> <!-- /.product item -->
									
									<a href="#" class="product-item">
										<div class="images">
											<img src="assets/images/bagian-produk-recomended/recomended-produk-3.png" alt="Alt" />
										</div> <!-- /.images -->
										
										<div class="meta">
											<div class="category">
												Lanbis
											</div> <!-- /.category -->
											
											<h2 class="name">
												Ultimate Flash Hugging
											</h2> <!-- /.name -->
											
											<div class="rating">
												<i class="ion-android-star"></i>
												<i class="ion-android-star"></i>
												<i class="ion-android-star"></i>
												<i class="ion-android-star"></i>
												<i class="ion-android-star"></i>
												
												<span class="count">10</span>
											</div> <!-- /.rating -->
											
											<div class="price">
												<div class="nominal">
													<div class="nominal-normal">
														Rp 25.900
													</div>
												</div> <!-- /.nominal -->
											</div> <!-- /.price -->
										</div> <!-- /.meta -->
									</a> <!-- /.product item -->
								</div> <!-- /.list similar -->
							</div> <!-- /.similar -->
						</div> <!-- /.col-sm-4 -->
					</div> <!-- /.row -->
				</div> <!-- /.container -->
			</section> <!-- /.detail -->
		</main> <!-- /.main -->
		
		
		<div class="section-feedback">
			<a href="#" class="block text-uppercase">Apa Pendapatmu?</a>
		</div> <!-- /.feedback -->
		
		
		<footer class="section-footer-wrap">
			<section class="section-footer">
				<div class="container">
					<div class="section-footer-about">
						<p><img class="img-responsive" src="assets/images/logo-bawah.png" alt="Alt" /> adalah E-Commerce kecantikan dan kesehatan terpercaya yang telah hadir di Indonesia untuk menyediakan produk-produk berkualitas dan original. Setelah bergerak selama 2 tahun dibidang online beauty, SilahQan.com akhirnya didirikan pada tahun 2016 demi berkomitmen melayani dan peduli akan kecantikan customernya, dan menjadi tempat solusi dari semua kebutuhan kecantikan dan kesehatan Anda.</p>
						
						<p>Kami menyediakan produk mulai dari ujung rambut sampai kaki Anda. Selain itu, tidak hanya wanita, tetapi kami juga menyediakan produk untuk menjaga kesehatan dan perawatan untuk pria.</p>
					</div> <!-- /.about -->
					
					<div class="section-footer-menu">
						<div class="row">
							<div class="col-xs-12 col-sm-6 col-sm-3">
								<div class="section-footer-menu-block">
									<h2 class="section-footer-menu-title text-uppercase">Dukungan / Bantuan</h2>
									
									<ul>
										<li><a href="#">Cara pesan</a></li>
										<li><a href="#">Pengiriman</a></li>
										<li><a href="#">Proses Pengembalian</a></li>
										<li><a href="#">FAQ</a></li>
									</ul>
								</div> <!-- /.menu block -->
							</div> <!-- /.col-sm-3 -->
							
							<div class="col-xs-12 col-sm-6 col-sm-3">
								<div class="section-footer-menu-block">
									<h2 class="section-footer-menu-title text-uppercase">Mitra Kami</h2>
									
									<ul>
										<li><a href="#">Partner / Suplier</a></li>
									</ul>
								</div> <!-- /.menu block -->
							</div> <!-- /.col-sm-3 -->
							
							<div class="col-xs-12 col-sm-6 col-sm-3">
								<div class="section-footer-menu-block">
									<h2 class="section-footer-menu-title text-uppercase">Informasi</h2>
									
									<ul>
										<li><a href="#">Tentang</a></li>
										<li><a href="#">Syarat dan Ketentuan</a></li>
										<li><a href="#">Kebijakan Privasi</a></li>
										<li><a href="#">Blog</a></li>
										<li><a href="#">Karir</a></li>
									</ul>
								</div> <!-- /.menu block -->
							</div> <!-- /.col-sm-3 -->
							
							<div class="col-xs-12 col-sm-6 col-sm-3">
								<div class="section-footer-menu-block">
									<h2 class="section-footer-menu-title text-uppercase">Daftar Newsletter</h2>
									
									<div class="section-footer-subscribe">
										<form action="#" class="form-group no-margin-bottom position-relative">
											<input type="email" class="form-control" placeholder="Masukkan email Anda disini" />
											<i class="icon ion-android-mail"></i>
										</form> <!-- /.form group -->
										
										<div class="clearfix"></div>
										
										<ul class="list-inline social-media">
											<li><a href="#" class="block"><i class="icon socicon-facebook"></i></a></li>
											<li><a href="#" class="block"><i class="icon socicon-twitter"></i></a></li>
											<li><a href="#" class="block"><i class="icon socicon-googleplus"></i></a></li>
											<li><a href="#" class="block"><i class="icon socicon-instagram"></i></a></li>
										</ul> <!-- /.social-media -->
									</div> <!-- /.subscribe -->
								</div> <!-- /.menu block -->
							</div> <!-- /.col-sm-3 -->
						</div> <!-- /.row -->
					</div> <!-- /.menu -->
					
					<div class="section-footer-copyright text-center">
						Copyright 2016 SilahQan.com. All Rights Reserved.
					</div> <!-- /.copyright -->
				</div> <!-- /.container -->
			</section> <!-- /.section footer -->
			
			<div class="arrow scrollToTop">
				<img class="img-responsive" src="assets/images/arrow/button-back-top.png" alt="Back Top" />
			</div> <!-- /.arrow -->
		</footer> <!-- /.footer -->
		
	
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="assets/js/jquery/jquery.js"></script>
		
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
		
		<!-- Slider -->
		<script src="assets/plugins/bxslider/jquery.bxslider.min.js"></script>
		
		<!-- Match Height -->
		<script src="assets/js/jquery.matchHeight-min.js"></script>
		
		<!-- Mouse Wheel -->
		<script src="assets/js/jquery/jquery.mousewheel.min.js"></script>
		
		<!-- Scroller -->
		<script src="assets/plugins/scroller/js/jquery.mCustomScrollbar.concat.min.js"></script>
		
		<!-- iCHeck -->
		<script src="assets/plugins/icheck/icheck.min.js"></script>
		
		<!-- Range -->
		<script src="assets/plugins/range/js/ion-rangeSlider/ion.rangeSlider.min.js"></script>
		
		<!-- Select -->
		<script src="assets/plugins/select/js/bootstrap-select.min.js"></script>
		
		<!-- Site functions -->
		<script src="assets/js/site.js"></script>
	</body>
</html>