<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- Meta SEO -->
		<title>Template HTML</title>
		<meta name="description" content="Template HTML RIP dari PSD.">
		<meta name="keywords" content="HTML, CSS, XML, JavaScript, SEO">
		<meta name="author" content="WYOYW Creatives">
		
		<!-- Favicon -->
		<link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" href="assets/images/favicon/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="assets/images/favicon/favicon-16x16.png" sizes="16x16">
		<link rel="manifest" href="assets/images/favicon/manifest.json">
		<link rel="mask-icon" href="assets/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="theme-color" content="#ffffff">
		
		<!-- Open Graph -->
		<meta property="fb:app_id" content="1234567890" />
		<meta property="og:locale" content="id_ID" />
		<meta property="og:title" content="Template HTML" />
		<meta property="og:url" content="http://www.wyoyw.com" />
		<meta property="og:type" content="website" />
		<meta property="og:description" content="Template HTML RIP dari PSD." />
		<meta property="og:image" content="assets/images/wyoyw.png" />
		
		<!-- Twitter Card -->
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:title" content="Template HTML" />
		<meta name="twitter:description" content="Template HTML RIP dari PSD." />
		<meta name="twitter:url" content="http://www.wyoyw.com" />
		<meta name="twitter:image" content="assets/images/wyoyw.png" />

		<!-- Bootstrap -->
		<link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		
		<!-- Ikon Sosial Media -->
		<link href="assets/plugins/socicon/socicon.css" rel="stylesheet">
		
		<!-- Ionicons -->
		<link href="assets/plugins/ionicons/css/ionicons.min.css" rel="stylesheet">
		
		<!-- Font Awesome -->
		<link href="assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
		
		<!-- Webfonts -->
		<link href="assets/css/webfont/font.css" rel="stylesheet">
		
		<!-- Slider -->
		<link href="assets/plugins/bxslider/jquery.bxslider.css" rel="stylesheet">
		
		<!-- Scroller -->
		<link href="assets/plugins/scroller/css/jquery.mCustomScrollbar.min.css" rel="stylesheet">
		
		<!-- iCHeck -->
		<link href="assets/plugins/icheck/skins/minimal/orange.css" rel="stylesheet">
		
		<!-- Style site -->
		<link href="assets/css/style.css" rel="stylesheet">

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="assets/js/html5shiv.min.js"></script>
		<script src="assets/js/respond.min.js"></script>
		<![endif]-->
	</head>
	
	<body>
		<header class="section-header">
			<nav class="navbar navbar-default navbar-static-top no-margin-bottom">
				<div class="navbar-top">
					<div class="container">
						<div class="row">
							<div class="col-xs-5 col-md-4 no-padding-right">
								<div class="navbar-menu">
									<ul class="nav navbar-nav">
										<li class="dropdown">
											<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hubungi <span class="hidden-xs">kami</span> <span class="caret"></span></a>
											<ul class="dropdown-menu">
												<li><a href="#">Action</a></li>
												<li><a href="#">Another action</a></li>
												<li><a href="#">Something else here</a></li>
												<li role="separator" class="divider"></li>
												<li><a href="#">Separated link</a></li>
												<li role="separator" class="divider"></li>
												<li><a href="#">One more separated link</a></li>
											</ul>
										</li>
										
										<li><a href="#">Cara <span class="hidden-xs">belanja</span></a></li>
									</ul>
								</div> <!-- /.navbar menu -->
							</div>    
									
							<div class="col-xs-7 col-md-4 col-md-push-4 no-padding-left">
								<div class="navbar-menu text-right">
									<ul class="nav navbar-nav navbar-right">
										<li><a href="#">Masuk</a></li>
										<li><a href="#">Daftar</a></li>
										
										<li class="dropdown">
											<a href="#" class="dropdown-toggle navbar-cart" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="icon ion-android-cart"></i><span class="hidden-xs"> Belanjaan saya </span><span class="label label-default">0</span></a>
										</li>
									</ul>
								</div> <!-- /.navbar menu -->
							</div>
									
							<div class="col-xs-12 col-md-4 col-md-pull-4">
								<div class="navbar-search">
									<form action="">
										<div class="form-group no-margin-bottom">
											<input type="search" class="form-control text-center" placeholder="Cari di SilahQan..." />
										</div> <!-- /.form group -->
									</form>
								</div> <!-- /.search -->
							</div>
						</div> <!-- /.row -->
					</div> <!-- /.container -->
				</div> <!-- /.navbar top -->
				
				<div class="navbar-header">
					<div class="container">
						<div class="row">
							<div class="col-xs-12 col-md-4 col-md-push-4">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
								
								<a class="navbar-brand" href="#">
									<img class="img-responsive" src="assets/images/top-logo.png" alt="Logo" />
								</a> <!-- /.logo -->
							</div> <!-- /.col-md-4 -->
								
							<div class="col-xs-12 col-sm-6 col-md-4 col-md-pull-4">
								<div class="navbar-intro">
									<div class="col-xs-3 col-sm-3">
										<div class="text-center">
											<div class="navbar-intro-icon">
												<img class="img-responsive" src="assets/images/bagian-atas/icon-menu-4.png" alt="Alt" />
											</div> <!-- /.icon -->
											
											<div class="navbar-intro-text">
												Sahabat Produk Lokal
											</div> <!-- /.text -->
										</div> <!-- /.navbar intro -->
									</div> <!-- /.col-xs-3 -->
									
									<div class="col-xs-3 col-sm-3">
										<div class="text-center">
											<div class="navbar-intro-icon">
												<img class="img-responsive" src="assets/images/bagian-atas/icon-menu-3.png" alt="Alt" />
											</div> <!-- /.icon -->
											
											<div class="navbar-intro-text">
												Harga Grosir
											</div> <!-- /.text -->
										</div> <!-- /.navbar intro -->
									</div> <!-- /.col-xs-3 -->
									
									<div class="col-xs-3 col-sm-3">
										<div class="text-center">
											<div class="navbar-intro-icon">
												<img class="img-responsive" src="assets/images/bagian-atas/icon-menu-2.png" alt="Alt" />
											</div> <!-- /.icon -->
											
											<div class="navbar-intro-text">
												Transaksi Aman
											</div> <!-- /.text -->
										</div> <!-- /.navbar intro -->
									</div> <!-- /.col-xs-3 -->
									
									<div class="col-xs-3 col-sm-3">
										<div class="text-center">
											<div class="navbar-intro-icon">
												<img class="img-responsive" src="assets/images/bagian-atas/icon-menu-1.png" alt="Alt" />
											</div> <!-- /.icon -->
											
											<div class="navbar-intro-text">
												Pemberitahuan Mobile
											</div> <!-- /.text -->
										</div> <!-- /.navbar intro -->
									</div> <!-- /.col-xs-3 -->
								</div> <!-- /.row -->
							</div> <!-- /.col-md-4 -->
								
							<div class="col-xs-12 col-sm-6 col-md-4">
								<a href="#" class="navbar-promo text-right">
									<img class="img-responsive" src="assets/images/bagian-atas/gambar-top-bunga.png" alt="Alt" />
								</a> <!-- /.navbar promo -->
							</div> <!-- /.col-md-4 -->
						</div> <!-- /.row -->
					</div> <!-- /.container -->
				</div> <!-- /.navbar header -->
				
				<div class="navbar-navigation collapse navbar-collapse text-uppercase" id="bs-example-navbar-collapse-1">
					<div class="container">
						<ul class="nav navbar-nav">
							<li class="active"><a href="#">Produk baru</a></li>
							<li><a href="#">Kosmetik</a></li>
							<li><a href="#">Perawatan kulit</a></li>
							<li><a href="#">Perawatan rambut</a></li>
							<li><a href="#">Kesehatan</a></li>
							<li><a href="#">Aksesoris</a></li>
							<li><a href="#">Bayi</a></li>
							<li><a href="#">Pria</a></li>
							<li><a href="#">Merk</a></li>
							<li><a href="#">Promo</a></li>
						</ul>
					</div> <!-- /.container -->
				</div> <!-- /.navbar navigation -->
			</nav> <!-- /.nav -->
		</header> <!-- /.header -->
		
		
		<main class="section-main">
			<section class="section-intro">
				<div id="carousel-intro" class="carousel slide" data-ride="carousel">
					<!-- Indicators -->
					<ol class="carousel-indicators">
						<li data-target="#carousel-intro" data-slide-to="0" class="active"></li>
						<li data-target="#carousel-intro" data-slide-to="1"></li>
						<li data-target="#carousel-intro" data-slide-to="2"></li>
					</ol>

					<!-- Wrapper for slides -->
					<div class="carousel-inner" role="listbox">
						<a href="#" class="item active">
							<img class="hidden-xs" src="assets/images/banner-slider.png" alt="...">
							<img class="visible-xs" src="assets/images/tes-mobile-slider.jpg" alt="...">
						</a> <!-- /.slider item -->
						
						<a href="#" class="item">
							<img class="hidden-xs" src="assets/images/banner-slider.png" alt="...">
							<img class="visible-xs" src="assets/images/tes-mobile-slider.jpg" alt="...">
						</a> <!-- /.slider item -->
						
						<a href="#" class="item">
							<img class="hidden-xs" src="assets/images/banner-slider.png" alt="...">
							<img class="visible-xs" src="assets/images/tes-mobile-slider.jpg" alt="...">
						</a> <!-- /.slider item -->
					</div>
				</div>
			</section> <!-- /.intro -->
			
			
			<section class="section-recomended position-relative">
				<div class="container">
					<div class="section-recomended-content">
						<div class="navtab">
							<!-- Nav tabs -->
							<ul class="nav nav-tabs text-uppercase" role="tablist">
								<li role="presentation" class="active"><a href="#recomended" role="tab" data-toggle="tab">Recomended</a></li>
								
								<li role="presentation"><a href="#hot-deals" role="tab" data-toggle="tab">Hot Deals</a></li>
								
								<li role="presentation"><a href="#under" role="tab" data-toggle="tab">Under Rp 20.000</a></li>
								
								<li role="presentation"><a href="#best" role="tab" data-toggle="tab">Best Seller</a></li>
							</ul>

							<!-- Tab panes -->
							<div class="tab-content">
								<div role="tabpanel" class="tab-pane active" id="recomended">
									<div class="section-product-list">
										<div class="row-del recomended-slide">
											<div class="col-xs-3-del">
												<a href="#" class="product-item">
													<div class="featured text-center">
														<div class="inner">
															<span class="block">Pilihan</span>
															<span class="block">Editor</span>
														</div>
													</div> <!-- /.featured label -->
													
													<div class="images">
														<img src="assets/images/bagian-produk-recomended/recomended-produk-1.png" alt="Alt" />
													</div> <!-- /.images -->
													
													<div class="meta">
														<div class="countdown">
															<div class="hours">
																00
															</div> <!-- /.hours -->
															
															<div class="minute">
																00
															</div> <!-- /.minutes -->
															
															<div class="second">
																00
															</div> <!-- /.second -->
														</div> <!-- /.countdown -->
														
														<div class="category">
															Cream Pot
														</div> <!-- /.category -->
														
														<h2 class="name">
															Cream Pot Musron Jar 30GR
														</h2> <!-- /.name -->
														
														<div class="rating">
															<i class="ion-android-star"></i>
															<i class="ion-android-star"></i>
															<i class="ion-android-star-outline"></i>
															<i class="ion-android-star-outline"></i>
															<i class="ion-android-star-outline"></i>
															
															<span class="count">33</span>
														</div> <!-- /.rating -->
														
														<div class="price">
															<div class="discount">
																10%
															</div> <!-- /.discount -->
															
															<div class="nominal">
																<div class="nominal-discount">
																	Rp 4.500.00
																</div>
																
																<div class="nominal-normal">
																	Rp 4.050
																</div>
															</div> <!-- /.nominal -->
														</div> <!-- /.price -->
													</div> <!-- /.meta -->
												</a> <!-- /.product item -->
											</div> <!-- /.col-xs-3 -->
											
											<div class="col-xs-3-del">
												<a href="#" class="product-item">
													<div class="images">
														<img src="assets/images/bagian-produk-recomended/recomended-produk-2.png" alt="Alt" />
													</div> <!-- /.images -->
													
													<div class="meta">
														<div class="countdown">
														</div> <!-- /.countdown -->
														
														<div class="category">
															Sponge Blender
														</div> <!-- /.category -->
														
														<h2 class="name">
															Sponge Blender Foundation Model Guci
														</h2> <!-- /.name -->
														
														<div class="rating">
															<i class="ion-android-star"></i>
															<i class="ion-android-star"></i>
															<i class="ion-android-star-outline"></i>
															<i class="ion-android-star-outline"></i>
															<i class="ion-android-star-outline"></i>
															
															<span class="count">33</span>
														</div> <!-- /.rating -->
														
														<div class="price">
															<div class="nominal">
																<div class="nominal-normal">
																	Rp 14.990
																</div>
															</div> <!-- /.nominal -->
														</div> <!-- /.price -->
													</div> <!-- /.meta -->
												</a> <!-- /.product item -->
											</div> <!-- /.col-xs-3 -->
											
											<div class="col-xs-3-del">
												<a href="#" class="product-item">
													<div class="images">
														<img src="assets/images/bagian-produk-recomended/recomended-produk-3.png" alt="Alt" />
													</div> <!-- /.images -->
													
													<div class="meta">
														<div class="category">
															Lanbis
														</div> <!-- /.category -->
														
														<h2 class="name">
															Ultimate Flash Hugging
														</h2> <!-- /.name -->
														
														<div class="rating">
															<i class="ion-android-star"></i>
															<i class="ion-android-star"></i>
															<i class="ion-android-star"></i>
															<i class="ion-android-star"></i>
															<i class="ion-android-star"></i>
															
															<span class="count">10</span>
														</div> <!-- /.rating -->
														
														<div class="price">
															<div class="nominal">
																<div class="nominal-normal">
																	Rp 25.900
																</div>
															</div> <!-- /.nominal -->
														</div> <!-- /.price -->
													</div> <!-- /.meta -->
												</a> <!-- /.product item -->
											</div> <!-- /.col-xs-3 -->
											
											<div class="col-xs-3-del">
												<a href="#" class="product-item">
													<div class="images">
														<img src="assets/images/bagian-produk-recomended/recomended-produk-4.png" alt="Alt" />
														
														<div class="outstock">OPPS! Kehabisan Stock</div> <!-- /.out stock -->
													</div> <!-- /.images -->
													
													<div class="meta">
														<div class="category">
															Brush Egg
														</div> <!-- /.category -->
														
														<h2 class="name">
															Brush Cleanser / Pembersih Kuas Make Up
														</h2> <!-- /.name -->
														
														<div class="rating">
															<i class="ion-android-star"></i>
															<i class="ion-android-star"></i>
															<i class="ion-android-star-outline"></i>
															<i class="ion-android-star-outline"></i>
															<i class="ion-android-star-outline"></i>
															
															<span class="count">33</span>
														</div> <!-- /.rating -->
														
														<div class="price">
															<div class="discount">
																60%
															</div> <!-- /.discount -->
															
															<div class="nominal">
																<div class="nominal-discount">
																	Rp 14.900.00
																</div>
																
																<div class="nominal-normal">
																	Rp 5.960
																</div>
															</div> <!-- /.nominal -->
														</div> <!-- /.price -->
													</div> <!-- /.meta -->
												</a> <!-- /.product item -->
											</div> <!-- /.col-xs-3 -->
											
											<div class="col-xs-3-del">
												<a href="#" class="product-item">
													<div class="images">
														<img src="assets/images/bagian-produk-recomended/recomended-produk-5.png" alt="Alt" />
													</div> <!-- /.images -->
													
													<div class="meta">
														<div class="category">
															Safe Core
														</div> <!-- /.category -->
														
														<h2 class="name">
															Aromathreapy Original 10ML
														</h2> <!-- /.name -->
														
														<div class="rating">
															<i class="ion-android-star"></i>
															<i class="ion-android-star"></i>
															<i class="ion-android-star-outline"></i>
															<i class="ion-android-star-outline"></i>
															<i class="ion-android-star-outline"></i>
															
															<span class="count">33</span>
														</div> <!-- /.rating -->
														
														<div class="price">
															<div class="discount">
																70%
															</div> <!-- /.discount -->
															
															<div class="nominal">
																<div class="nominal-discount">
																	Rp 16.750.00
																</div>
																
																<div class="nominal-normal">
																	Rp 5.025
																</div>
															</div> <!-- /.nominal -->
														</div> <!-- /.price -->
													</div> <!-- /.meta -->
												</a> <!-- /.product item -->
											</div> <!-- /.col-xs-3 -->
										</div> <!-- /.row -->
									</div> <!-- /.section product list -->
								</div> <!-- /.recomended -->
								
								
								<div role="tabpanel" class="tab-pane" id="hot-deals">...</div>
								<div role="tabpanel" class="tab-pane" id="under">...</div>
								<div role="tabpanel" class="tab-pane" id="best">...</div>
							</div>
						</div> <!-- /.navtab -->
						
						<div class="section-feedback">
							<a href="#" class="block text-uppercase">Apa Pendapatmu?</a>
						</div> <!-- /.feedback -->
					</div> <!-- /.content -->
				</div> <!-- /.container -->
			</section> <!-- /.section highlight -->
			
			
			<section class="section-grid">
				<div class="row row-small">
					<div class="col-xs-12 col-sm-4 no-padding-left">
						<div class="section-grid-big">
							<div id="carousel-grid-1" class="carousel slide" data-ride="carousel">
								<!-- Indicators -->
								<ol class="carousel-indicators">
									<li data-target="#carousel-grid-1" data-slide-to="0" class="active"></li>
									<li data-target="#carousel-grid-1" data-slide-to="1"></li>
									<li data-target="#carousel-grid-1" data-slide-to="2"></li>
								</ol>

								<!-- Wrapper for slides -->
								<div class="carousel-inner" role="listbox">
									<div class="section-grid-item item active">
										<div class="ratio ratio-full">
											<a href="#" class="ratio-inner">
												<img class="ratio-image" src="assets/images/produk-banner-tengah-1.png" alt="Alt" />
											</a> <!-- /.ratio inner -->
										</div> <!-- /.ratio -->
									</div> <!-- /.grid item -->
									
									<div class="section-grid-item item">
										<div class="ratio ratio-full">
											<a href="#" class="ratio-inner">
												<img class="ratio-image" src="assets/images/produk-banner-tengah-1.png" alt="Alt" />
											</a> <!-- /.ratio inner -->
										</div> <!-- /.ratio -->
									</div> <!-- /.grid item -->
									
									<div class="section-grid-item item">
										<div class="ratio ratio-full">
											<a href="#" class="ratio-inner">
												<img class="ratio-image" src="assets/images/produk-banner-tengah-1.png" alt="Alt" />
											</a> <!-- /.ratio inner -->
										</div> <!-- /.ratio -->
									</div> <!-- /.grid item -->
								</div> <!-- /.carousel list -->
							</div> <!-- /.carousel wrap -->
						</div> <!-- /.grid big -->
					</div> <!-- /.col-sm-4 -->
					
					<div class="col-xs-12 col-sm-4">
						<div class="section-grid-item">
							<div class="ratio ratio-full">
								<div class="ratio-inner">
									<div class="section-grid-small section-grid-small-top">
										<div id="carousel-grid-2" class="carousel slide" data-ride="carousel">
											<!-- Indicators -->
											<ol class="carousel-indicators">
												<li data-target="#carousel-grid-2" data-slide-to="0" class="active"></li>
												<li data-target="#carousel-grid-2" data-slide-to="1"></li>
												<li data-target="#carousel-grid-2" data-slide-to="2"></li>
											</ol>
											
											<!-- Wrapper for slides -->
											<div class="carousel-inner" role="listbox">
												<div class="section-grid-item item active">
													<div class="ratio ratio-full">
														<a href="#" class="ratio-inner">
															<img class="ratio-image" src="assets/images/produk-banner-tengah-2.png" alt="Alt" />
														</a> <!-- /.ratio inner -->
													</div> <!-- /.ratio -->
												</div> <!-- /.grid item -->
												
												<div class="section-grid-item item">
													<div class="ratio ratio-full">
														<a href="#" class="ratio-inner">
															<img class="ratio-image" src="assets/images/produk-banner-tengah-2.png" alt="Alt" />
														</a> <!-- /.ratio inner -->
													</div> <!-- /.ratio -->
												</div> <!-- /.grid item -->
												
												<div class="section-grid-item item">
													<div class="ratio ratio-full">
														<a href="#" class="ratio-inner">
															<img class="ratio-image" src="assets/images/produk-banner-tengah-2.png" alt="Alt" />
														</a> <!-- /.ratio inner -->
													</div> <!-- /.ratio -->
												</div> <!-- /.grid item -->
											</div> <!-- /.carousel list -->
										</div> <!-- /.carousel wrap -->
									</div> <!-- /.grid small -->
									
									<div class="section-grid-small">
										<div id="carousel-grid-3" class="carousel slide" data-ride="carousel">
											<!-- Indicators -->
											<ol class="carousel-indicators">
												<li data-target="#carousel-grid-3" data-slide-to="0" class="active"></li>
												<li data-target="#carousel-grid-3" data-slide-to="1"></li>
												<li data-target="#carousel-grid-3" data-slide-to="2"></li>
											</ol>
											
											<!-- Wrapper for slides -->
											<div class="carousel-inner" role="listbox">
												<div class="section-grid-item item active">
													<div class="ratio ratio-full">
														<a href="#" class="ratio-inner">
															<img class="ratio-image" src="assets/images/produk-banner-tengah-2.png" alt="Alt" />
														</a> <!-- /.ratio inner -->
													</div> <!-- /.ratio -->
												</div> <!-- /.grid item -->
												
												<div class="section-grid-item item">
													<div class="ratio ratio-full">
														<a href="#" class="ratio-inner">
															<img class="ratio-image" src="assets/images/produk-banner-tengah-2.png" alt="Alt" />
														</a> <!-- /.ratio inner -->
													</div> <!-- /.ratio -->
												</div> <!-- /.grid item -->
												
												<div class="section-grid-item item">
													<div class="ratio ratio-full">
														<a href="#" class="ratio-inner">
															<img class="ratio-image" src="assets/images/produk-banner-tengah-2.png" alt="Alt" />
														</a> <!-- /.ratio inner -->
													</div> <!-- /.ratio -->
												</div> <!-- /.grid item -->
											</div> <!-- /.carousel list -->
										</div> <!-- /.carousel wrap -->
									</div> <!-- /.grid small -->
								</div> <!-- /.ratio inner -->
							</div> <!-- /.ratio -->
						</div> <!-- /.grid item -->
					</div> <!-- /.col-sm-4 -->
					
					<div class="col-xs-12 col-sm-4 no-padding-right">
						<div class="section-grid-big with-margin">
							<div id="carousel-grid-4" class="carousel slide" data-ride="carousel">
								<!-- Indicators -->
								<ol class="carousel-indicators">
									<li data-target="#carousel-grid-4" data-slide-to="0" class="active"></li>
									<li data-target="#carousel-grid-4" data-slide-to="1"></li>
									<li data-target="#carousel-grid-4" data-slide-to="2"></li>
								</ol>

								<!-- Wrapper for slides -->
								<div class="carousel-inner" role="listbox">
									<div class="section-grid-item item active">
										<div class="ratio ratio-full">
											<a href="#" class="ratio-inner">
												<img class="ratio-image" src="assets/images/produk-banner-tengah-1.png" alt="Alt" />
											</a> <!-- /.ratio inner -->
										</div> <!-- /.ratio -->
									</div> <!-- /.grid item -->
									
									<div class="section-grid-item item">
										<div class="ratio ratio-full">
											<a href="#" class="ratio-inner">
												<img class="ratio-image" src="assets/images/produk-banner-tengah-1.png" alt="Alt" />
											</a> <!-- /.ratio inner -->
										</div> <!-- /.ratio -->
									</div> <!-- /.grid item -->
									
									<div class="section-grid-item item">
										<div class="ratio ratio-full">
											<a href="#" class="ratio-inner">
												<img class="ratio-image" src="assets/images/produk-banner-tengah-1.png" alt="Alt" />
											</a> <!-- /.ratio inner -->
										</div> <!-- /.ratio -->
									</div> <!-- /.grid item -->
								</div> <!-- /.carousel list -->
							</div> <!-- /.carousel wrap -->
						</div> <!-- /.grid big -->
					</div> <!-- /.col-sm-4 -->
				</div> <!-- /.row -->
			</section> <!-- /.section grid -->
			
			
			<section class="section-new">
				<div class="container">
					<h2 class="section-label text-center text-uppercase">
						<div class="row row-small">
							<div class="col-xs-4 col-sm-5">
								<div class="section-label-border left">
								</div> <!-- /.border -->
							</div> <!-- /.col-xs-5 -->
							
							<div class="col-xs-4 col-sm-2">
								<div class="section-label-text">Produk baru</div>
							</div> <!-- /.col-xs-2 -->
							
							<div class="col-xs-4 col-sm-5">
								<div class="section-label-border right">
								</div> <!-- /.border -->
							</div> <!-- /.col-xs-5 -->
						</div> <!-- /.row -->
					</h2> <!-- /.section new label -->
					
					<div class="section-product-list">
						<div class="row-del recomended-slide">
							<div class="col-xs-3-del">
								<a href="#" class="product-item">
									<div class="featured text-center">
										<div class="inner">
											<span class="block">Pilihan</span>
											<span class="block">Editor</span>
										</div>
									</div> <!-- /.featured label -->
													
									<div class="images">
										<img src="assets/images/bagian-produk-baru/produk-baru-1.png" alt="Alt" />
									</div> <!-- /.images -->
									
									<div class="meta">
										<div class="category">
											Sumber Ayu
										</div> <!-- /.category -->
										
										<h2 class="name">
											Pembersih kewanitaan daun sirih 90ml
										</h2> <!-- /.name -->
										
										<div class="rating">
											<i class="ion-android-star-outline"></i>
											<i class="ion-android-star-outline"></i>
											<i class="ion-android-star-outline"></i>
											<i class="ion-android-star-outline"></i>
											<i class="ion-android-star-outline"></i>
										</div> <!-- /.rating -->
										
										<div class="price">
											<div class="nominal">
												<div class="nominal-normal">
													Rp 8,250.00
												</div>
											</div> <!-- /.nominal -->
										</div> <!-- /.price -->
									</div> <!-- /.meta -->
								</a> <!-- /.product item -->
							</div> <!-- /.col-xs-3 -->
							
							<div class="col-xs-3-del">
								<a href="#" class="product-item">
									<div class="images">
										<img src="assets/images/bagian-produk-baru/produk-baru-2.png" alt="Alt" />
									</div> <!-- /.images -->
									
									<div class="meta">
										<div class="countdown">
										</div> <!-- /.countdown -->
										
										<div class="category">
											ACL
										</div> <!-- /.category -->
										
										<h2 class="name">
											ACL hair mask 200gr
										</h2> <!-- /.name -->
										
										<div class="rating">
											<i class="ion-android-star-outline"></i>
											<i class="ion-android-star-outline"></i>
											<i class="ion-android-star-outline"></i>
											<i class="ion-android-star-outline"></i>
											<i class="ion-android-star-outline"></i>
										</div> <!-- /.rating -->
										
										<div class="price">
											<div class="nominal">
												<div class="nominal-normal">
													Rp 23.990
												</div>
											</div> <!-- /.nominal -->
										</div> <!-- /.price -->
									</div> <!-- /.meta -->
								</a> <!-- /.product item -->
							</div> <!-- /.col-xs-3 -->
							
							<div class="col-xs-3-del">
								<a href="#" class="product-item">
									<div class="images">
										<img src="assets/images/bagian-produk-baru/produk-baru-3.png" alt="Alt" />
									</div> <!-- /.images -->
									
									<div class="meta">
										<div class="category">
											BioAqua
										</div> <!-- /.category -->
										
										<h2 class="name">
											Blueberry mask facial sheet masker wajah
										</h2> <!-- /.name -->
										
										<div class="rating">
											<i class="ion-android-star-outline"></i>
											<i class="ion-android-star-outline"></i>
											<i class="ion-android-star-outline"></i>
											<i class="ion-android-star-outline"></i>
											<i class="ion-android-star-outline"></i>
										</div> <!-- /.rating -->
										
										<div class="price">
											<div class="nominal">
												<div class="nominal-normal">
													Rp 3,900.00
												</div>
											</div> <!-- /.nominal -->
										</div> <!-- /.price -->
									</div> <!-- /.meta -->
								</a> <!-- /.product item -->
							</div> <!-- /.col-xs-3 -->
							
							<div class="col-xs-3-del">
								<a href="#" class="product-item">
									<div class="images">
										<img src="assets/images/bagian-produk-baru/produk-baru-4.png" alt="Alt" />
									</div> <!-- /.images -->
									
									<div class="meta">
										<div class="countdown">
											<div class="hours">
												00
											</div> <!-- /.hours -->
											
											<div class="minute">
												00
											</div> <!-- /.minutes -->
											
											<div class="second">
												00
											</div> <!-- /.second -->
										</div> <!-- /.countdown -->
														
										<div class="category">
											BioAqua
										</div> <!-- /.category -->
										
										<h2 class="name">
											Masker carchoal anti komedo actived carbon mask
										</h2> <!-- /.name -->
										
										<div class="rating">
											<i class="ion-android-star-outline"></i>
											<i class="ion-android-star-outline"></i>
											<i class="ion-android-star-outline"></i>
											<i class="ion-android-star-outline"></i>
											<i class="ion-android-star-outline"></i>
										</div> <!-- /.rating -->
										
										<div class="price">
											<div class="nominal">
												<div class="nominal-normal">
													Rp 17,500.00
												</div>
											</div> <!-- /.nominal -->
										</div> <!-- /.price -->
									</div> <!-- /.meta -->
								</a> <!-- /.product item -->
							</div> <!-- /.col-xs-3 -->
							
							<div class="col-xs-3-del">
								<a href="#" class="product-item">
									<div class="images">
										<img src="assets/images/bagian-produk-baru/produk-baru-5.png" alt="Alt" />
									</div> <!-- /.images -->
									
									<div class="meta">
										<div class="countdown">
											<div class="hours">
												00
											</div> <!-- /.hours -->
											
											<div class="minute">
												00
											</div> <!-- /.minutes -->
											
											<div class="second">
												00
											</div> <!-- /.second -->
										</div> <!-- /.countdown -->
										
										<div class="category">
											Cream Pot
										</div> <!-- /.category -->
										
										<h2 class="name">
											Cream pot mushroom jar 30gr
										</h2> <!-- /.name -->
										
										<div class="rating">
											<i class="ion-android-star"></i>
											<i class="ion-android-star"></i>
											<i class="ion-android-star"></i>
											<i class="ion-android-star"></i>
											<i class="ion-android-star"></i>
											
											<span class="count">26</span>
										</div> <!-- /.rating -->
										
										<div class="price">
											<div class="discount">
												10%
											</div> <!-- /.discount -->
											
											<div class="nominal">
												<div class="nominal-discount">
													Rp 4,500.00
												</div>
												
												<div class="nominal-normal">
													Rp 4.050
												</div>
											</div> <!-- /.nominal -->
										</div> <!-- /.price -->
									</div> <!-- /.meta -->
								</a> <!-- /.product item -->
							</div> <!-- /.col-xs-3 -->
						</div> <!-- /.row -->
					</div> <!-- /.section product list -->
					
					<a href="#" class="btn btn-orange btn-block text-center">Lihat Lebih Banyak</a>
				</div> <!-- /.container -->
			</section> <!-- /.section new -->
			
			
			<section class="section-blog-latest">
				<div class="container">
					<h2 class="section-label text-center text-uppercase">
						<div class="row row-small">
							<div class="col-xs-4 col-sm-5">
								<div class="section-label-border left">
								</div> <!-- /.border -->
							</div> <!-- /.col-xs-5 -->
							
							<div class="col-xs-4 col-sm-2">
								<div class="section-label-text">Beauty blog</div>
							</div> <!-- /.col-xs-2 -->
							
							<div class="col-xs-4 col-sm-5">
								<div class="section-label-border right">
								</div> <!-- /.border -->
							</div> <!-- /.col-xs-5 -->
						</div> <!-- /.row -->
					</h2> <!-- /.section new label -->
					
					<div class="section-blog-content">
						<div class="row row-small">
							<div class="col-xs-12 col-sm-6">
								<a href="#" class="section-blog-item block">
									<div class="row row-small">
										<div class="col-xs-12 col-sm-12 col-md-7">
											<div class="section-blog-image">
												<div class="ratio ratio-normal">
													<div class="ratio-inner">
														<img class="ratio-image" src="assets/images/bagian-blog/blog-banner-1.png" alt="Alt" />
													</div> <!-- /.ratio inner -->
												</div> <!-- /.ratio normal -->
											</div> <!-- /.image -->
										</div> <!-- /.col-md-8 -->
										
										<div class="col-xs-12 col-sm-12 col-md-5">
											<div class="section-blog-text">
												<h2 class="section-blog-title text-uppercase">Lorem Ipsum</h2>
												
												<p>Usage: Click the "Upload Fonts" button, check the agreement and download your fonts. If you need more fine-grain control, choose the Expert option. Usage: Click the "Upload Fonts" button, check the agreement and download your fonts. <span class="readmore">Selanjutnya <i class="icon ion-ios-arrow-right"></i></p>
											</div> <!-- /.text -->
										</div> <!-- /.col-md-4 -->
									</div> <!-- /.row -->
								</a> <!-- /.blog item -->
							</div> <!-- /.col-sm-6 -->
							
							<div class="col-xs-12 col-sm-6">
								<a href="#" class="section-blog-item block">
									<div class="row row-small">
										<div class="col-xs-12 col-sm-12 col-md-7">
											<div class="section-blog-image">
												<div class="ratio ratio-normal">
													<div class="ratio-inner">
														<img class="ratio-image" src="assets/images/bagian-blog/blog-banner-2.png" alt="Alt" />
													</div> <!-- /.ratio inner -->
												</div> <!-- /.ratio normal -->
											</div> <!-- /.image -->
										</div> <!-- /.col-md-8 -->
										
										<div class="col-xs-12 col-sm-12 col-md-5">
											<div class="section-blog-text">
												<h2 class="section-blog-title text-uppercase">Lorem Ipsum</h2>
												
												<p>Usage: Click the "Upload Fonts" button, check the agreement and download your fonts. If you need more fine-grain control, choose the Expert option. Usage: Click the "Upload Fonts" button, check the agreement and download your fonts. <span class="readmore">Selanjutnya <i class="icon ion-ios-arrow-right"></i></p>
											</div> <!-- /.text -->
										</div> <!-- /.col-md-4 -->
									</div> <!-- /.row -->
								</a> <!-- /.blog item -->
							</div> <!-- /.col-sm-6 -->
						</div> <!-- /.row -->

						<a href="#" class="btn btn-orange btn-block text-center btn-more">Lihat Lebih Banyak</a>
					</div> <!-- /.blog content -->
				</div> <!-- /.container -->
			</section> <!-- /.latest blog -->
		</main> <!-- /.main -->
		
		
		<footer class="section-footer-wrap">
			<section class="section-payment">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-4">
							<div class="section-payment-item">
								<h2 class="section-payment-title text-uppercase">Metode pembayaran</h2>
								
								<div class="row">
									<div class="col-xs-4 col-sm-3">
										<img class="img-responsive" src="assets/images/bank-dan-lain-lain/bank-transfer.png" Alt="Alt" />
									</div> <!-- /.col-xs-4 -->
									
									<div class="col-xs-4 col-sm-3">
										<img class="img-responsive" src="assets/images/bank-dan-lain-lain/bank-bca.png" Alt="Alt" />
									</div> <!-- /.col-xs-4 -->
									
									<div class="col-xs-4 col-sm-3">
										<img class="img-responsive" src="assets/images/bank-dan-lain-lain/bank-mandiri.png" Alt="Alt" />
									</div> <!-- /.col-xs-4 -->
									
									<div class="col-xs-4 col-sm-3">
										<img class="img-responsive" src="assets/images/bank-dan-lain-lain/bank-bri.png" Alt="Alt" />
									</div> <!-- /.col-xs-4 -->
								</div> <!-- /.row -->
							</div> <!-- /.payment item -->
						</div> <!-- /.col-sm-4 -->
						
						<div class="col-xs-12 col-sm-4">
							<div class="section-payment-item">
								<h2 class="section-payment-title text-uppercase">Jasa pengiriman</h2>
								
								<div class="row">
									<div class="col-xs-4 col-sm-3">
										<img class="img-responsive" src="assets/images/bank-dan-lain-lain/rpx-logistic.png" Alt="Alt" />
									</div> <!-- /.col-xs-4 -->
									
									<div class="col-xs-4 col-sm-3">
										<img class="img-responsive" src="assets/images/bank-dan-lain-lain/jne-logistic.png" Alt="Alt" />
									</div> <!-- /.col-xs-4 -->
								</div> <!-- /.row -->
							</div> <!-- /.payment item -->
						</div> <!-- /.col-sm-4 -->
						
						<div class="col-xs-12 col-sm-4">
							<div class="section-payment-item">
								<h2 class="section-payment-title text-uppercase">Verifikasi oleh</h2>
								
								<div class="row">
									<div class="col-xs-4 col-sm-3">
										<img class="img-responsive" src="assets/images/bank-dan-lain-lain/idea-member.png" Alt="Alt" />
									</div> <!-- /.col-xs-4 -->
									
									<div class="col-xs-4 col-sm-3">
										<img class="img-responsive" src="assets/images/bank-dan-lain-lain/ssl-secure.png" Alt="Alt" />
									</div> <!-- /.col-xs-4 -->
								</div> <!-- /.row -->
							</div> <!-- /.payment item -->
						</div> <!-- /.col-sm-4 -->
					</div> <!-- /.row -->
				</div> <!-- /.container -->
			</section> <!-- /.payment -->
			
			
			<section class="section-footer">
				<div class="container">
					<div class="section-footer-about">
						<p><img class="img-responsive" src="assets/images/logo-bawah.png" alt="Alt" /> adalah E-Commerce kecantikan dan kesehatan terpercaya yang telah hadir di Indonesia untuk menyediakan produk-produk berkualitas dan original. Setelah bergerak selama 2 tahun dibidang online beauty, SilahQan.com akhirnya didirikan pada tahun 2016 demi berkomitmen melayani dan peduli akan kecantikan customernya, dan menjadi tempat solusi dari semua kebutuhan kecantikan dan kesehatan Anda.</p>
						
						<p>Kami menyediakan produk mulai dari ujung rambut sampai kaki Anda. Selain itu, tidak hanya wanita, tetapi kami juga menyediakan produk untuk menjaga kesehatan dan perawatan untuk pria.</p>
					</div> <!-- /.about -->
					
					<div class="section-footer-menu">
						<div class="row">
							<div class="col-xs-12 col-sm-6 col-sm-3">
								<div class="section-footer-menu-block">
									<h2 class="section-footer-menu-title text-uppercase">Dukungan / Bantuan</h2>
									
									<ul>
										<li><a href="#">Cara pesan</a></li>
										<li><a href="#">Pengiriman</a></li>
										<li><a href="#">Proses Pengembalian</a></li>
										<li><a href="#">FAQ</a></li>
									</ul>
								</div> <!-- /.menu block -->
							</div> <!-- /.col-sm-3 -->
							
							<div class="col-xs-12 col-sm-6 col-sm-3">
								<div class="section-footer-menu-block">
									<h2 class="section-footer-menu-title text-uppercase">Mitra Kami</h2>
									
									<ul>
										<li><a href="#">Partner / Suplier</a></li>
									</ul>
								</div> <!-- /.menu block -->
							</div> <!-- /.col-sm-3 -->
							
							<div class="col-xs-12 col-sm-6 col-sm-3">
								<div class="section-footer-menu-block">
									<h2 class="section-footer-menu-title text-uppercase">Informasi</h2>
									
									<ul>
										<li><a href="#">Tentang</a></li>
										<li><a href="#">Syarat dan Ketentuan</a></li>
										<li><a href="#">Kebijakan Privasi</a></li>
										<li><a href="#">Blog</a></li>
										<li><a href="#">Karir</a></li>
									</ul>
								</div> <!-- /.menu block -->
							</div> <!-- /.col-sm-3 -->
							
							<div class="col-xs-12 col-sm-6 col-sm-3">
								<div class="section-footer-menu-block">
									<h2 class="section-footer-menu-title text-uppercase">Daftar Newsletter</h2>
									
									<div class="section-footer-subscribe">
										<form action="#" class="form-group no-margin-bottom position-relative">
											<input type="email" class="form-control" placeholder="Masukkan email Anda disini" />
											<i class="icon ion-android-mail"></i>
										</form> <!-- /.form group -->
										
										<div class="clearfix"></div>
										
										<ul class="list-inline social-media">
											<li><a href="#" class="block"><i class="icon socicon-facebook"></i></a></li>
											<li><a href="#" class="block"><i class="icon socicon-twitter"></i></a></li>
											<li><a href="#" class="block"><i class="icon socicon-googleplus"></i></a></li>
											<li><a href="#" class="block"><i class="icon socicon-instagram"></i></a></li>
										</ul> <!-- /.social-media -->
									</div> <!-- /.subscribe -->
								</div> <!-- /.menu block -->
							</div> <!-- /.col-sm-3 -->
						</div> <!-- /.row -->
					</div> <!-- /.menu -->
					
					<div class="section-footer-copyright text-center">
						Copyright 2016 SilahQan.com. All Rights Reserved.
					</div> <!-- /.copyright -->
				</div> <!-- /.container -->
			</section> <!-- /.section footer -->
			
			<div class="arrow scrollToTop">
				<img class="img-responsive" src="assets/images/arrow/button-back-top.png" alt="Back Top" />
			</div> <!-- /.arrow -->
		</footer> <!-- /.footer -->
		
	
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="assets/js/jquery/jquery.js"></script>
		
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
		
		<!-- Slider -->
		<script src="assets/plugins/bxslider/jquery.bxslider.min.js"></script>
		
		<!-- Match Height -->
		<script src="assets/js/jquery.matchHeight-min.js"></script>
		
		<!-- Mouse Wheel -->
		<script src="assets/js/jquery/jquery.mousewheel.min.js"></script>
		
		<!-- Scroller -->
		<script src="assets/plugins/scroller/js/jquery.mCustomScrollbar.concat.min.js"></script>
		
		<!-- iCHeck -->
		<script src="assets/plugins/icheck/icheck.min.js"></script>
		
		<!-- Site functions -->
		<script src="assets/js/site.js"></script>
	</body>
</html>